@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    margin: 0px auto;
}

.box {
    display: flex;
    margin-bottom: 150px;


}

.first {
    margin: 40px 2px;
    position: relative;
}

.first h1 {
    font-size: 50px;
    font-weight: 600;
}

.first .span-top {
    margin-top: 25px;
}

.first span {
    color: orange;
}

.box-1 {
    width: 50%;
    /* border: 2px solid red; */
    /* padding: 5px 5px; */
}

.img-1 {
    width: 90%;
    /* margin-left: 30%; */
    padding-left: 10%;
    /* margin-left: %; */

}


.first h3 {
    margin-top: 30px;
}

.first p {
    margin-top: 15px;
    color: #333;
    text-align: justify;
}

.first .link-button {
    margin-top: 3%;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 40px;
    background-color: aqua;
    border-radius: 5px;
    position: absolute;
    background-image: linear-gradient(orange, tomato);
    color: white;
}


.img-2 {
    width: 90%;
}

.left {
    padding: 0px 40px;
    margin-left: 30px;
}

.topp {
    margin-top: 20px;
}

.dream-big {
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.boxx {
    display: flex;
    width: 100%;
}

.Experience-area {
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.boxx-1 {
    width: 50%;
    margin: 40px 30px;
    /* border: 2px solid red; */
    text-align: justify;
    border-bottom: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 50px 0px gray;
    height: 400px;
    /* background-image: url("img/exp-bg.png"); */
}

.boxx-1 h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    padding: 10px;

}

.boxx-1 h3 {
    color: orange;
    padding: 10px;
}

.boxx-1 p {
    padding: 10px;
}

.Ex-1 {
    border-left: 5px solid red;
    /* height: 100%; */
    width: 50%;
}

.Ex-2 {
    border-left: 5px solid blue;
    /* height: 100%; */
    width: 50%;
}

.footer {
    margin-top: 60px;
    text-align: center;
}

.footer h3 {
    color: #333;
    font-size: 15px;
    margin-bottom: 15px;
}